.thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 386px;
  max-width: 100%;
  max-height: 100%;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.errorIcon {
  height: 25%;
  width: 25%;
}
