.presetPrompt {
  cursor: pointer;
  user-select: none;
  color: var(--user-message-text);
  background-color: var(--user-message);
  padding: 0.5rem;
  border-radius: 25px;
  border: none;
  transition: all 250ms ease-in-out;
}

.presetPrompt:hover {
  border: none;
  transform: scale(1.25);
}

.presetPrompt:focus {
  border: none;
  outline-color: var(--user-message);
  transform: scale(1.25);
}
