.presetPromptsContainer {
  display: flex;
  align-items: center;
}

.presetPromptsIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.presetPromptsIconContainer {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: var(--container);
  display: flex;
  align-items: center;
  justify-content: center;
}

.presetPromptsIconContainer:hover {
  background-color: var(--icon-focus);
}

.presetPromptsIconContainer .tooltipText {
  visibility: hidden;
  width: max-content;
  max-width: 100%;
  background-color: var(--tooltip);
  opacity: 0.8;
  color: var(--tooltip-text);
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  top: -1rem;
  left: 1rem;
  z-index: 1;
  word-wrap: break-word;
}

.presetPromptsIconContainer:hover .tooltipText {
  visibility: visible;
}

.presetPrompts {
  position: absolute;
  display: flex;
  width: 100%;
  top: -3rem;
  left: 0;
  padding: 0;
  justify-content: space-evenly;
  opacity: 0;
  visibility: hidden;
}

.openPrompts {
  animation: fadeIn 1000ms 1;
  animation-fill-mode: forwards;
}

.closePrompts {
  animation: fadeOut 600ms 1;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
